.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  box-shadow: 0px 5px 20px #ccc;
  z-index: 999;
  &__container {
    width: 90%;
    height: 100%;
    margin: auto;
    @include flex;
    align-items: center;
  }
  &__brand {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
