.blogs {
  width: 100%;
  position: relative;
  margin-top: 10rem;
  &__recent {
    width: 80%;
    margin: auto;

   &-list{
       margin-top: 4rem;
       display: grid;
       grid-template-columns: repeat(3, 30%);
       grid-template-rows: 500px;
       justify-content: space-between;
       column-gap: 6rem;
   }
  }


}
