.landing {
  height: calc(100vh - 80px);
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    bottom: 0;
    text-align: center;
  }

  &__text {
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    letter-spacing: 20px;
    text-transform: uppercase;
    line-break: normal;
  }

  &__button {
    width: 10%;
    margin: auto;
  }
}
