.register {
  width: 100%;
  margin-top: 12.5rem;
  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    width: 800px;
    max-width: 90%;
  }
}
