.button{
    cursor: pointer;
    padding: 1rem 3rem;
    background-color: $color-primary;
    border-radius: $border-radius;
    outline: none;
    border: none;
    font-size: 1.4rem;
    margin-bottom: 1rem;
     color: white;
     text-transform: uppercase;
}