.form {
  padding: 4rem 0;
  width: 100%;
  box-shadow: 1px 3px 80px -20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  &__container {
    width: 80%;
    margin: 2.5rem auto 0 auto;
    display: flex;
    flex-direction: column;
// align-items: center;
  }

  &__group {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    &:last-child{
        grid-column: 1 / -1;
    }
  }

  &__label {
    font-size: 1.1rem;
    // font-weight: 500;
  }

  &__input {
    padding: 1rem;
    border-radius: $border-radius;
    border: 1px solid $color-primary;
    font-size: 1rem;
    display: block;
    &::-webkit-input-placeholder {
      color: gray;
      letter-spacing: 1px;
    }

    &:focus {
      outline: none;
    }
  }
  &__valid {
    border: 1px solid green;
  }

  &__invalid {
    border: 1px solid red !important;
    background-color: #fda49a;
  }

  &__button{
    align-self: center !important
  }
}
