*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; // 16px
  font-family: $font-primary;
  height: 100%;
}

body {
  box-sizing: border-box;

}

.layout {
  height: 100%;
}

.main {
  // height: 100%;
  margin-top: 80px;
}
