.title {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
  color: $color-primary;
  font-weight: 400;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;

  &__login {
    color: $color-red;
  }

  &__login,
  &__forgot {
    font-weight: 600;
    margin-top: 1rem;
    align-self: flex-end;
  }

  &__forgot {
    color: $color-primary;
  }
}

.error {
  color: $color-red;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.image{
  height: 500px;
  width: 100%;
  object-fit:cover;
}