*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  box-sizing: border-box;
}

.layout {
  height: 100%;
}

.main {
  margin-top: 80px;
}

.title {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
  color: #5C9210;
  font-weight: 400;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
}
.link__login {
  color: red;
}
.link__login, .link__forgot {
  font-weight: 600;
  margin-top: 1rem;
  align-self: flex-end;
}
.link__forgot {
  color: #5C9210;
}

.error {
  color: red;
  font-size: 1.1rem;
  font-weight: 500;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cancel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.head {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.mb-bg {
  margin-bottom: 6rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-xsm {
  margin-bottom: 1rem;
}

.mt-bg {
  margin-top: 6rem;
}

.mt-md {
  margin-top: 4rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-xsm {
  margin-top: 1rem;
}

.mr-bg {
  margin-right: 6rem;
}

.mr-md {
  margin-right: 4rem;
}

.mr-sm {
  margin-right: 2rem;
}

.ml-bg {
  margin-left: 6rem;
}

.ml-md {
  margin-left: 4rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ma {
  margin: auto;
}

.ta {
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 1rem 3rem;
  background-color: #5C9210;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: white;
}
.button-red {
  background-color: red !important;
}

.form {
  padding: 4rem 0;
  width: 100%;
  box-shadow: 1px 3px 80px -20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.form__container {
  width: 80%;
  margin: 2.5rem auto 0 auto;
  display: flex;
  flex-direction: column;
}
.form__group {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}
.form__group > *:not(:last-child) {
  margin-bottom: 1rem;
}
.form__group:last-child {
  grid-column: 1/-1;
}
.form__label {
  font-size: 1.1rem;
}
.form__input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #5C9210;
  font-size: 1rem;
  display: block;
}
.form__input::-webkit-input-placeholder {
  color: gray;
  letter-spacing: 1px;
}
.form__input:focus {
  outline: none;
}
.form__valid {
  border: 1px solid green;
}
.form__invalid {
  border: 1px solid red !important;
  background-color: #fda49a;
}
.form__button {
  align-self: center !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal__loader {
  width: 600px;
  height: 500px;
  max-height: 100%;
  max-width: 90%;
  background-color: #5C9210;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.modal__loader > p {
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
}

.recent {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  border: 1px solid grey;
}
.recent__container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.recent__img-box {
  flex-basis: 80%;
}
.recent__img-box > * {
  display: block !important;
  height: 100%;
}
.recent__img {
  display: block !important;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.recent__content {
  flex-grow: 1;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.recent__content h3 {
  font-weight: bolder;
  grid-column: 1/-1;
}
.recent__content p:first-of-type {
  grid-column: 1/-1;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify !important;
}
.recent__content p:first-of-type a {
  display: block;
  color: red;
  text-decoration: none;
}
.recent__content .icon {
  grid-column: 1/-1;
  margin-bottom: 2rem;
  cursor: pointer;
}
.recent__content p:nth-of-type(4) {
  justify-self: flex-end;
}

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  box-shadow: 0px 5px 20px #ccc;
  z-index: 999;
}
.header__container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.header__brand a {
  text-decoration: none;
  color: black;
}

.nav {
  position: relative;
  height: 100%;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 2rem;
}
.nav__link {
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.nav__link:hover {
  background-color: #5C9210;
  color: white;
}
.nav__user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
}

.landing {
  height: calc(100vh - 80px);
  position: relative;
}
.landing__container {
  width: 100%;
  height: 100%;
}
.landing__content {
  position: absolute;
  bottom: 0;
  text-align: center;
}
.landing__text {
  color: white;
  font-weight: bolder;
  font-size: 4rem;
  letter-spacing: 20px;
  text-transform: uppercase;
  line-break: normal;
}
.landing__button {
  width: 10%;
  margin: auto;
}

.login {
  width: 100%;
  height: calc(100vh - 80px);
}
.login__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__box {
  width: 600px;
  max-width: 90%;
}
.register {
  width: 100%;
  margin-top: 12.5rem;
}
.register__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register__box {
  width: 800px;
  max-width: 90%;
}
.register__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.register__button {
  text-align: center;
  width: 80%;
  margin: auto;
}

.create {
  width: 100%;
  height: calc(100vh - 80px);
}
.create__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create__form {
  width: 100%;
}
.create__form-container {
  width: 50%;
  margin: auto;
}
.create__form-group {
  display: flex;
  flex-direction: column;
}
.create__form-label {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 3rem;
}
.create__form-label-image {
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
.create__form-input, .create__form-textarea {
  font-family: "Roboto", sans-serif;
  border-radius: 10px 20px 20px 10px;
  display: block;
  padding: 1.22rem;
  position: relative;
  z-index: 9999;
  border: 1px dashed #5C9210;
}
.create__form-input::-webkit-input-placeholder, .create__form-textarea::-webkit-input-placeholder {
  color: gray;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.create__form-input:focus, .create__form-textarea:focus {
  outline: none;
}
.create__form-input {
  text-transform: uppercase;
  font-size: 2rem;
}
.create__form-input-image {
  display: none;
}
.create__form-textarea {
  max-height: 440px;
  min-height: 440px;
  min-width: 500px;
  max-width: 100%;
  font-size: 1rem;
  text-align: justify;
  line-height: 35px;
}
.create__form-image {
  border: 1px dashed #5C9210;
  border-radius: 5px;
  height: 600px;
  max-height: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
}
.create__form-invalid {
  border: 1px dashed red !important;
  background-color: #fda49a !important;
}
.create__button {
  display: flex;
  justify-content: flex-end;
}
.create__button-content {
  justify-content: space-between;
}

.blogs {
  width: 100%;
  position: relative;
  margin-top: 10rem;
}
.blogs__recent {
  width: 80%;
  margin: auto;
}
.blogs__recent-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 500px;
  justify-content: space-between;
  column-gap: 6rem;
}

.single {
  width: 100;
  position: relative;
}
.single__container {
  width: 100%;
  margin-bottom: 15rem;
}
.single__box {
  width: 70%;
  margin: 15rem auto 15rem auto;
  padding-bottom: 15rem;
}
.single__box h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.single__meta {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 4rem auto;
}
.single__img {
  height: 700px;
  width: 100%;
}
.single__img > * {
  height: 100%;
  width: 100%;
  display: block !important;
}
.single__img-box {
  object-fit: cover;
  height: auto;
}
.single__img-box > div > img {
  object-fit: cover;
}
.single__content {
  margin-top: 3rem;
}
.single__content p {
  white-space: pre-wrap;
}

/*# sourceMappingURL=globals.css.map */
